# Supabase Settings
NEXT_PUBLIC_supacoldchain_SUPABASE_URL="https://your-project-ref.supabase.co"
NEXT_PUBLIC_supacoldchain_SUPABASE_ANON_KEY="your-anon-key"
supacoldchain_SUPABASE_URL="https://your-project-ref.supabase.co"
supacoldchain_SUPABASE_PUBLISHABLE_KEY="your-publishable-key"
supacoldchain_SUPABASE_JWT_SECRET="your-jwt-secret"
supacoldchain_SUPABASE_SECRET_KEY="your-secret-key"
supacoldchain_SUPABASE_SERVICE_ROLE_KEY="your-service-role-key"

# Postgres connection strings
supacoldchain_POSTGRES_DATABASE="postgres"
supacoldchain_POSTGRES_HOST="db.your-project-ref.supabase.co"
supacoldchain_POSTGRES_USER="postgres"
supacoldchain_POSTGRES_PASSWORD="your-db-password"
supacoldchain_POSTGRES_PRISMA_URL="postgres://postgres.your-project-ref:your-db-password@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
supacoldchain_POSTGRES_URL="postgres://postgres.your-project-ref:your-db-password@aws-1-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
supacoldchain_POSTGRES_URL_NON_POOLING="postgres://postgres.your-project-ref:your-db-password@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"